## Deliverable 2. Create a Customer Travel Destinations Map.

In [22]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import ipywidgets as widgets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [23]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Alice Springs,AU,-23.7000,133.8833,67.55,60,75,5.75,broken clouds
1,1,Hermanus,ZA,-34.4187,19.2345,48.90,75,65,6.93,broken clouds
2,2,Saint Anthony,US,45.0205,-93.2180,69.53,88,20,1.99,few clouds
3,3,Clyde River,CA,70.4692,-68.5914,45.66,67,10,3.02,clear sky
4,4,Jamestown,US,42.0970,-79.2353,74.52,64,1,10.36,clear sky

In [24]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [34]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Jamestown,US,42.0970,-79.2353,74.52,64,1,10.36,clear sky
8,8,Hilo,US,19.7297,-155.0900,82.13,74,40,11.50,scattered clouds
13,13,Vaini,TO,-21.2000,-175.2000,71.76,94,90,12.66,light intensity shower rain
14,14,Portland,US,45.5234,-122.6762,88.39,47,40,1.99,smoke
17,17,Maceio,BR,-9.6658,-35.7353,76.44,83,20,3.44,few clouds
...,...,...,...,...,...,...,...,...,...,...
688,688,Senador Jose Porfirio,BR,-2.5908,-51.9542,78.26,81,95,3.24,overcast clouds
689,689,Bail Hongal,IN,15.8167,74.8667,70.84,91,100,11.99,overcast clouds
690,690,Tomatlan,MX,19.9333,-105.2500,86.86,63,99,5.46,overcast clouds
692,692,Kawalu,ID,-7.3817,108.2082,71.64,89,99,0.49,overcast clouds
693,693,Mao,ES,39.8885,4.2658,72.16,68,75,3.44,broken clouds

In [35]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [36]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Jamestown,US,42.0970,-79.2353,74.52,64,1,10.36,clear sky
8,8,Hilo,US,19.7297,-155.0900,82.13,74,40,11.50,scattered clouds
13,13,Vaini,TO,-21.2000,-175.2000,71.76,94,90,12.66,light intensity shower rain
14,14,Portland,US,45.5234,-122.6762,88.39,47,40,1.99,smoke
17,17,Maceio,BR,-9.6658,-35.7353,76.44,83,20,3.44,few clouds
...,...,...,...,...,...,...,...,...,...,...
688,688,Senador Jose Porfirio,BR,-2.5908,-51.9542,78.26,81,95,3.24,overcast clouds
689,689,Bail Hongal,IN,15.8167,74.8667,70.84,91,100,11.99,overcast clouds
690,690,Tomatlan,MX,19.9333,-105.2500,86.86,63,99,5.46,overcast clouds
692,692,Kawalu,ID,-7.3817,108.2082,71.64,89,99,0.49,overcast clouds
693,693,Mao,ES,39.8885,4.2658,72.16,68,75,3.44,broken clouds

In [37]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Jamestown,US,74.52,clear sky,42.0970,-79.2353,
8,Hilo,US,82.13,scattered clouds,19.7297,-155.0900,
13,Vaini,TO,71.76,light intensity shower rain,-21.2000,-175.2000,
14,Portland,US,88.39,smoke,45.5234,-122.6762,
17,Maceio,BR,76.44,few clouds,-9.6658,-35.7353,
...,...,...,...,...,...,...,...
688,Senador Jose Porfirio,BR,78.26,overcast clouds,-2.5908,-51.9542,
689,Bail Hongal,IN,70.84,overcast clouds,15.8167,74.8667,
690,Tomatlan,MX,86.86,overcast clouds,19.9333,-105.2500,
692,Kawalu,ID,71.64,overcast clouds,-7.3817,108.2082,
693,Mao,ES,72.16,broken clouds,39.8885,4.2658,

In [38]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [39]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Jamestown,US,74.52,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
8,Hilo,US,82.13,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
13,Vaini,TO,71.76,light intensity shower rain,-21.2000,-175.2000,Keleti Beach Resort
14,Portland,US,88.39,smoke,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
17,Maceio,BR,76.44,few clouds,-9.6658,-35.7353,Poutur Pousada
...,...,...,...,...,...,...,...
688,Senador Jose Porfirio,BR,78.26,overcast clouds,-2.5908,-51.9542,Pousada Novo Horizonte
689,Bail Hongal,IN,70.84,overcast clouds,15.8167,74.8667,Sangam residency (Lodge)
690,Tomatlan,MX,86.86,overcast clouds,19.9333,-105.2500,El Salvial
692,Kawalu,ID,71.64,overcast clouds,-7.3817,108.2082,KOSAN UNGU UNSIK
693,Mao,ES,72.16,broken clouds,39.8885,4.2658,ARTIEM Capri

In [40]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [41]:

# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))